$primary-font-color: #303133;
$regular-font-color: #606266;
$minor-font-color: #909399;
$place-font-color: #C0C4CC;
$disable-color:#C0C4CC;

$primary-color: #409EFF;
$border-color:#DCDFE6;
$gray-color:#f4f5f9;
$text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
$box-shadox: 0 2px 0 rgba(0, 0, 0, 0.045);


$success-color:#9acd32;
$warning-color:#ffb42a;
$danger-color:#ff5656;
$info-color:#b3b3b3;


$white: #fff;